<div id="main-content" class="container">
  <div class="row">
      <div class="col-md-6">
              <div class="form-group">
                  <label for="connect">WebSocket connection:</label>
                  <button id="connect" class="btn btn-default" type="submit" (click)="connect()">Connect</button>
                  <button id="disconnect" class="btn btn-default" type="submit" (click)="disconnect()" disabled="disabled">Disconnect
                  </button>
              </div>
      </div>
      <div class="col-md-6">
              <div class="form-group">
                  <label for="name">What is your name?</label>
                  <input type="text" id="name" class="form-control" (input)="inputNameValue($event.target.value)" placeholder="Your name here...">
              </div>
              <button id="send" class="btn btn-default" (click)="sendName()" >Send</button>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table id="conversation" class="table table-striped">
              <thead>
              <tr>
                  <th>StockInfo</th>
              </tr>
              </thead>
              <tbody id="userinfo">
              </tbody>
          </table>
      </div>
  </div>
</div>